/*Proverbs 9:10
 The fear of God is the beginning of wisdom.
*/
:root {
  --background-color1: white;
  --background-color2: #16284b;
  --background-color3: grey;
  --title-color1: #e6eaf0;

}
* { 
  scroll-behavior: smooth;
  padding:0%;
  margin: 0%;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.title {
  text-align: center;
  color: var(--background-color2);
  font-family: Helvetica;
  font-size: 40px;
}
body{
  position: relative;
  background: var(--background-color1);
  width: 100vw;
  height: auto;
  font-size: 1rem;
  font-family: Cambria, Helvetica;
}
.main-section {
  position: relative;
  left: 30vw;
  top: 10px;
  padding: 20px;
  width: 60vw;
  bottom: 50px;
}
#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 20vw;
  height: 100vh;
  top: 0;
  background-color: var(--background-color2);
  color: var(--title-color1);
}
#navbar header {
  text-align: center;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.navs {
  margin: 0 auto;
}
.nav-link {
  color: var(--title-color1)
}
.main-section header {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--background-color2);
}
.main-section a {
  color: green;
}
a:hover {
  color: var(--background-color3)
}
@media (min-width: 611px) {
  .title {
  margin-left: 25vw;
  }
}
@media (max-width: 610px) {
  #navbar {
    position: relative;
    height: auto;
    width: 100vw;
    background-color: inherit;

  }
  .title {
    position: relative;
    width: 100vw;
    padding: 2px;
    top: 2px;
  }
  .table {
    color: black;
  }
  #navbar ul li a {
    color: var(--background-color2);
  }
  #navbar ul li a:hover {
    color: var(--background-color3);
  }
  .main-section {
    position: relative;
    left: 30px;
    width: 80vw;
  }
  .nav-items a {
    font-size: 0.85rem;
    padding: 2px;
  }
}
